@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-alice-carousel/lib/alice-carousel.css";

.upToDown{
    animation: upToDown;
    animation-duration: 0.8s;
}

@keyframes upToDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.leftToRight {
    animation: leftToRight;
    animation-duration:3s;
    animation-iteration-count: infinite;
    
}

@keyframes leftToRight {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-20%);
    }
}

.upAndDown {
    animation-name: UpAndDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes UpAndDown {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(20%);
    }
}