@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-alice-carousel/lib/alice-carousel.css";


.primary-btn{
    background-color: #fd6d4b;
    padding: 15px 20px;
    color: White;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    transition:all ease 0.5s ;
}

.primary-btn:hover{
    background-color: #222124;
    color: #fd6d4b;
    box-shadow: inset 0px 0px 50px #1a0236, 0px 0px 20px #21093d;
    transform: scale(1.05);
}

.upToDown{
    animation: upToDown;
    animation-duration: 0.8s;
    box-shadow: 0px 5px 20px rgb(13, 13, 58);
}

@keyframes upToDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.leftToRight {
    animation: leftToRight;
    animation-duration:3s;
    animation-iteration-count: infinite;
    
}

@keyframes leftToRight {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-20%);
    }
}

.upAndDown {
    animation-name: UpAndDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes UpAndDown {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(10%);
    }
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

.active{
    border-bottom: 2px solid tomato;
    background-color: #21093d !important;
    font-weight: 600;
    letter-spacing: 1px;
}
.contact{
    background:linear-gradient(45deg, rgb(10, 185, 157) 20%, rgba(238, 238, 238, 0.637) 10%);
    height: 100%;
}